header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/images/Rectangle\ 1.png);
    background-size: cover;
 
}
.backdrop{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    
}

.logo img {
   width: 150px;
   display: block;
   margin: 0px auto;
}

.logo-text h3{
    font-weight: 500;
    font-size: 20px;
}
nav{
    width: 100%;
    height: 200px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.navbar-links a {
    margin: 0px 50px;
    font-size: 20px;
}
.navbar-button button{
    background-color:#A88136 ;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 20px;
    
}
.desc{
    font-size: 17px;
}
.banner-button{
    display: block;
    margin: 0px auto;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 50px;
}